@page "/users"
@page "/users/{username}"
@using Magnifier.Models
@using Services
@using System.Net
@using System.Net.Http
@inject HttpClient Http
@inject ReactionService ReactionService

@if (string.IsNullOrEmpty(username))
{
    <p>they arent real claim that username now and if it contains a lowercase L make sure to also register one with a capital i otherwise digit dude will eat your face 😳</p>
}
else
{
    if (hasInitialised)
    {
        <PageTitle Title="on Magnifier" />

        <div class="flex flex-col justify-center items-center mt-8">

            @foreach (Magnifier.Models.Comment comment in comments)
            {
                if (!comment.isReply)
                {
                    <Comment location="users" projectId="@username" commentId="@comment.commentId.ToString()" comment="@comment" icon="@comment.comment.author.image" username="@comment.comment.author.username" content="@comment.comment.content" dateCreated="@comment.comment.datetime_created" replyIds="@comment.replies" />
                }
            }

            @if (loadingMore)
            {
                <button class="transition duration-300 bg-primary hover:bg-primary active:outline-none focus:outline-none text-black font-dosis text-4xl rounded-2xl p-3">Loading...</button>
            }
            else
            {
                <button @onclick="@LoadMore" class="transition duration-300 bg-primary hover:bg-primaryHover active:outline-none focus:outline-none text-black font-dosis text-4xl rounded-2xl p-3">Load More</button>
            }
        </div>

        <footer>
            <Footer />
        </footer>
    }
    else
    {
        <Loading />
    }
}

@code {
    private bool hasInitialised = false;

    [Parameter]
    public string username { get; set; }

    public List<Magnifier.Models.Comment> comments { get; set; }

    private int page = 1;

    private bool loadingMore = false;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(username))
        {
            await ReactionService.Initialize();

            comments = await Http.GetFromJsonAsync<List<Magnifier.Models.Comment>>($"https://localhost:5001/api/Comments/users/{username}/1");

            foreach (Magnifier.Models.Comment comment in comments)
            {
                comment.comment.content = WebUtility.HtmlDecode(comment.comment.content);
            }
        }

        hasInitialised = true;
    }

    private async Task LoadMore()
    {
        loadingMore = true;

        page++;

        comments = comments.Concat(await Http.GetFromJsonAsync<List<Magnifier.Models.Comment>>($"https://localhost:5001/api/Comments/users/{username}/{page}")).ToList();

        foreach (Magnifier.Models.Comment comment in comments)
        {
            comment.comment.content = WebUtility.HtmlDecode(comment.comment.content);
        }

        loadingMore = false;
    }
}