@using Magnifier.Models
@using System.Net
@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<style>
    #comment-@commentId .showOnCommentHover {
        visibility: hidden;
    }

    #comment-@commentId:hover .showOnCommentHover {
        visibility: visible;
    }
</style>

@if (isTopLevel)
{
    <div id="comment-@commentId" class="flex flex-row w-1/2">
        <a href="https://scratch.mit.edu/users/@username" target="_blank" rel="noopener noreferrer" class="mr-2">
            <img src="@icon" class="float-left rounded" style="width: 60px; height: 60px;" />
        </a>
        <div class="flex flex-col w-full mb-6">
            <a href="https://scratch.mit.edu/users/@username" target="_blank" rel="noopener noreferrer" class="font-bold text-blue mb-2">@username</a>
            <div class="bg-white rounded-lg w-full p-3">
                <div>
                    @content
                </div>
                <div class="text-grey text-xs mt-4">
                    @timeAgo
                </div>
            </div>
            <div id="bottom-row" class="flex flex-row items-center mt-1">
                <div id="reaction-buttons">
                    <ReactMenu projectId="@projectId" commentId="@commentId" />
                </div>
                <div class="flex-grow" />
                <div id="right-buttons" class="flex flex-row showOnCommentHover">
                    <CommentButton onClick="@ViewOnScratch">View on Scratch</CommentButton>
                    <CommentButton onClick="@CopyLink">Copy Link</CommentButton>
                    <CommentButton onClick="@Report">Report</CommentButton>
                </div>
            </div>
        </div>
    </div>


    @foreach (Magnifier.Models.Comment reply in replies)
    {
        <Comment projectId="@projectId" commentId="@reply.commentId.ToString()" icon="@reply.comment.author.image" username="@reply.comment.author.username" content="@reply.comment.content" dateCreated="@reply.comment.datetime_created" isTopLevel="false" replyIds="@emptyReplyList" />
    }
}
else
{
    <div class="flex flex-row ml-16" style="width: calc(50% - 4rem);">
        <a href="https://scratch.mit.edu/users/@username" target="_blank" rel="noopener noreferrer" class="mr-2">
            <img src="@icon" class="float-left rounded" style="width: 60px; height: 60px;" />
        </a>
        <div class="flex flex-col w-full mb-6">
            <a href="https://scratch.mit.edu/users/@username" target="_blank" rel="noopener noreferrer" class="font-bold text-blue mb-2">@username</a>
            <div class="bg-white rounded-lg w-full p-3">
                <div>
                    @content
                </div>
                <div class="text-grey text-xs mt-4">
                    @timeAgo
                </div>
            </div>
            <div id="bottom-row">
                <div id="reaction-buttons">
                    <ReactMenu projectId="@projectId" commentId="@commentId" />
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool hasInitialised = false;

    [Parameter]
    public string projectId { get; set; }

    [Parameter]
    public string commentId { get; set; }

    [Parameter]
    public string icon { get; set; }

    [Parameter]
    public string username { get; set; }

    [Parameter]
    public string content { get; set; }

    [Parameter]
    public DateTime? dateCreated { get; set; }

    [Parameter]
    public bool isTopLevel { get; set; } = true;

    [Parameter]
    public List<int> replyIds { get; set; }

    public List<Magnifier.Models.Comment> replies;

    private string timeAgo;

    private readonly List<int> emptyReplyList = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        replies = new List<Magnifier.Models.Comment>();

        foreach (int replyId in replyIds)
        {
            var reply = await Http.GetFromJsonAsync<Magnifier.Models.Comment>($"https://localhost:5001/api/Comments/{projectId}/{replyId}");

            reply.comment.content = WebUtility.HtmlDecode(reply.comment.content);

            replies.Add(reply);
        }

        TimeSpan ts = DateTime.Now.Subtract(dateCreated ?? DateTime.MinValue);

        if (ts.TotalMinutes < 2)
            timeAgo = "1 minute ago";
        else if (ts.TotalHours < 1)
            timeAgo = $"{(int)ts.TotalMinutes} minutes ago";
        else if (ts.TotalHours < 2)
            timeAgo = "1 hour ago";
        else if (ts.TotalDays < 1)
            timeAgo = $"{(int)ts.TotalHours} hours ago";
        else if (ts.TotalDays < 2)
            timeAgo = "Yesterday";
        else if (ts.TotalDays < 7)
            timeAgo = $"On {(dateCreated ?? DateTime.MinValue).DayOfWeek}";
        else if (ts.TotalDays < 30)
            timeAgo = $"{(int)ts.TotalDays} ago";
        else if (ts.TotalDays >= 30)
            if ((int)ts.TotalDays == 1)
                timeAgo = $"1 month ago";
            else
                timeAgo = $"{(int)ts.TotalDays / 30} months ago";
        else if (ts.TotalDays > 365)
            if ((int)ts.TotalDays == 1)
                timeAgo = $"1 year ago";
            else
                timeAgo = $"{(int)ts.TotalDays / 365} years ago";
        else if (ts.TotalDays > 365000) // 1 millenium
            timeAgo = $"oh wow magnifiers old. is hytale out yet?";

        hasInitialised = true;
    }

    public async Task ViewOnScratch()
    {
        await JsRuntime.InvokeVoidAsync("alert", "View on Scratch");
    }

    public async Task CopyLink()
    {
        await JsRuntime.InvokeVoidAsync("alert", "Copy Link");
    }

    public async Task Report()
    {
        await JsRuntime.InvokeVoidAsync("alert", "Report");
    }
}
